<h1>Edit <%= @product.name %> </h1>

<form action= "/products" class="new_product" id="new_product" method="post"><%= token_tag %> 
  <div class="form-row">
    <div class="form-group col-md-4">
      <label for="inputName">Product Name</label>
      <input type="text" class="form-control" id="inputName" placeholder="Name" name= "product[name]">
    </div>
    <div class="form-group col-md-4">
      <label for="inputCost">Cost</label>
      <input type="text" class="form-control" id="inputCost" placeholder="Cost" name= "product[cost]">
    </div>
    <div class="form-group col-md-4">
      <label for="inputOrigin">Country of Origin</label>
      <input type="text" class="form-control" id="inputOrigin" placeholder="Us, Russia, China etc." name="product[country_of_origin]">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Add Product</button>
</form> 