<div class = "jumbotron">
  <h1>Mario's Speciality Foods</h1>
</div>
<%= render "layouts/navbar" %>
<br>
<div class="row">
  <div class="col-sm-10">
    <h2>Our Mission</h2>
      <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
          totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
          dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
          eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
          sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid</p>
      <h2>Background</h2>
        <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, 
            totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae 
            dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia cor magni dolores 
            eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, 
            sed quia non numquam eius modi tempora incidunt ut labore et dolore magnam aliquam quaerat voluptatem. 
            Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid</p>
    </div>
    <div class ="col-sm-2">
      <div class="sideBar">
        <% if @products.any? %>
        <p class="title">Most Recently added Products</p>
          <ul>
            <% @products.each do |product| %>
            <li><%= product.name %></li>
            <% end %>
          </ul>
          <% else %>
            <p>No products added yet.</p>
          <% end %>
          <p class="title">Most Reviewed Products</p>
            <ul>
              <% @product_reviews.each do |product| %>
              <li><%= product.name %></li>
              <% end %>
            </ul>
      </div>
    </div>
    <hr class="col-sm-12">
</div>
