<div class = "jumbotron">
  <h1>All Products</h1>
</div>
<% if @products.any? %>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no Products added yet.</p>
<% end %>

<p><%= link_to "Create new product", new_product_path %></p>
