<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#news">News</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
  <div id= "search_bar">
    <form class="form-inline my-2 my-lg-0 pull-right">
        <input class="form-control mr-sm-2" type="search" placeholder="Search Products" aria-label="Search" name="search_name">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</div>